{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Réservations /</span> Détails de la Réservation
            </h4>

            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Réservation #{{ reservation.idReservation }}</h5>
                    <div>
                        <a href="{{ path('reservation_edit', {'id_reservation': reservation.idReservation}) }}" class="btn btn-sm btn-primary">Modifier</a>
                        <a href="{{ path('reservation_index') }}" class="btn btn-sm btn-secondary">Retour à la liste</a>
                        <form method="post" action="{{ path('reservation_delete', {'id_reservation': reservation.idReservation}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce sport ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.idReservation) }}">
                            <button class="btn btn-sm btn-danger" type="submit">
                                Supprimer
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Lieu Sportif</h6>
                            <p>{{ reservation.espacesportif.nom_espace }}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Date Réservée</h6>
                            <p>{{ reservation.dateReservee|date('d/m/Y H:i') }}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Motif</h6>
                            <p>{{ reservation.motif }}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Statut</h6>
                            <p>{{ reservation.status }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}