{% extends 'base.html.twig' %}

{% block title %}
    Football Layout | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/vendor/css/football_layout.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Sidebar -->
            {% block sidebar %}
                {% include 'sidebar.html.twig' %}
            {% endblock %}

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar/Searchbar -->
                {% block searchbar %}
                    {% include 'searchbar.html.twig' %}
                {% endblock %}

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- Formation Selector and Pitch -->
                        {% block football_layout %}
                            <div class="card mb-4">
                                <h5 class="card-header">Football Formations</h5>
                                <div class="card-body">
                                    <!-- Formation Selector -->
                                    <div class="mb-3">
                                        <label for="formationSelect" class="form-label">Select Formation:</label>
                                        <select id="formationSelect" class="form-select">
                                            <option value="4-4-2">4-4-2</option>
                                            <option value="4-2-3-1">4-2-3-1</option>
                                            <option value="4-3-3">4-3-3</option>
                                            <option value="3-5-2">3-5-2</option>
                                            <option value="5-3-2">5-3-2</option>
                                        </select>
                                    </div>
                                    <!-- Player List (for selection) -->
                                    <div class="mb-3">
                                        <label class="form-label">Available Players:</label>
                                        <ul id="playerList" class="list-group">
                                            {% for joueur in joueurs %}
                                                <li class="list-group-item" data-id="{{ joueur.idJoueur }}" data-poste="{{ joueur.poste }}">
                                                    {{ joueur.prenom }} {{ joueur.nom }} ({{ joueur.poste }})
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- Football Pitch -->
                                    <div id="football-pitch" class="football-pitch">
                                        <div class="pitch">
                                            <!-- Positions will be populated by JavaScript -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}

                        <!-- Main content block for child templates -->
                        {% block content %}
                        {% endblock %}
                    </div>

                    <!-- Footer -->
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/vendor/js/football_layout.js') }}"></script>
{% endblock %}