<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{{ path('joueur_main') }}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{{ asset('img/logo_white.svg') }}" alt="Your App Name" width="200" height="200">
      </span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item {% if app.request.attributes.get('_route') == 'joueur_main' %}active{% endif %}">
      <a href="{{ path('joueur_main') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <!-- Spacer: Users Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Users Section</span>
    </li>
    <!-- Users -->
    <li class="menu-item {% if app.request.attributes.get('_route') == 'joueur_main' %}active{% endif %}">
      <a href="{{ path('joueur_main') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Users">Users</div>
      </a>
    </li>

    <!-- Spacer: Players Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Section Staff Technique</span>
    </li>

    <!-- Under Team Management section -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'joueur_' or app.request.attributes.get('_route') starts with 'sport_' or app.request.attributes.get('_route') starts with 'club_' or app.request.attributes.get('_route') starts with 'performance_joueur_' or app.request.attributes.get('_route') starts with 'app_historique_club_' or app.request.attributes.get('_route') starts with 'app_evaluation_physique_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div data-i18n="Equipes">Joueurs</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'joueur_main' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Joueurs">Joueurs</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_evaluation_physique_' %}active{% endif %}">
          <a href="{{ path('app_evaluation_physique_index') }}" class="menu-link">
            <div data-i18n="EvaluationPhysique">Evaluation Physique</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'club_' %}active{% endif %}">
          <a href="{{ path('club_index') }}" class="menu-link">
            <div data-i18n="Club偶"Club">Club</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'sport_' %}active{% endif %}">
          <a href="{{ path('sport_index') }}" class="menu-link">
            <div data-i18n="Sport">Sport</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'performance_joueur_' %}active{% endif %}">
          <a href="{{ path('performance_joueur_index') }}" class="menu-link">
            <div data-i18n="PerformanceJoueur">Performance Joueur</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_historique_club_' %}active{% endif %}">
          <a href="{{ path('app_historique_club_index') }}" class="menu-link">
            <div data-i18n="HistoriqueClub">Historique Transferts</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Match Management -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Match Management</span>
    </li>
    <!-- Matchs -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_matchs_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-football"></i>
        <div data-i18n="Matchs">Matchs</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_matchs_upcoming' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Upcoming">Upcoming</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_matchs_past' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Past">Past</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Logistics -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Logistics</span>
    </li>
    <!-- Logistique -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_logistique_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-truck"></i>
        <div data-i18n="Logistique">Logistique</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_logistique_transport' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Transport">Transport</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_logistique_equipment' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Equipment">Equipment</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Sponsorship -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Sponsorship</span>
    </li>
    <!-- Sponsoring -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_sponsoring_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-money"></i>
        <div data-i18n="Sponsoring">Sponsoring</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_sponsoring_partners' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Partners">Partners</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_sponsoring_contracts' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Contracts">Contracts</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Sports Space -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Section Espace</span>
    </li>
    <!-- Espace Sportif -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'espace_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-stadium"></i>
        <div data-i18n="EspaceSportif">Espace Sportif</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'espace_index' %}active{% endif %}">
          <a href="{{ path('espace_index') }}" class="menu-link">
            <div data-i18n="Facilities">Facilités</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'reservation_index' %}active{% endif %}">
          <a href="{{ path('reservation_index') }}" class="menu-link">
            <div data-i18n="Statistics">Réservation</div>
          </a>
        </li>
      </ul>
  </ul>
</aside>