<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{{ path('joueur_main') }}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <svg
          width="25"
          viewBox="0 0 25 42"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <!-- SVG content remains unchanged -->
          <defs>
            <path d="..." id="path-1"></path>
            <path d="..." id="path-3"></path>
            <path d="..." id="path-4"></path>
            <path d="..." id="path-5"></path>
          </defs>
          <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
              <g id="Icon" transform="translate(27.000000, 15.000000)">
                <g id="Mask" transform="translate(0.000000, 8.000000)">
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <use fill="#696cff" xlink:href="#path-1"></use>
                  <g id="Path-3" mask="url(#mask-2)">
                    <use fill="#696cff" xlink:href="#path-3"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                  </g>
                  <g id="Path-4" mask="url(#mask-2)">
                    <use fill="#696cff" xlink:href="#path-4"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                  </g>
                </g>
                <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000)">
                  <use fill="#696cff" xlink:href="#path-5"></use>
                  <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item {% if app.request.attributes.get('_route') == 'app_dashboard' %}active{% endif %}">
      <a href="{{ path('joueur_main') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <!-- Spacer: Users Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Users Section</span>
    </li>
    <!-- Users -->
    <li class="menu-item {% if app.request.attributes.get('_route') == 'app_users' %}active{% endif %}">
      <a href="{{ path('joueur_main') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Users">Users</div>
      </a>
    </li>

    <!-- Under Team Management section -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'joueur_' or app.request.attributes.get('_route') starts with 'sport_' or app.request.attributes.get('_route') starts with 'club_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div data-i18n="Equipes">Equipes</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'joueur_main' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Joueurs">Joueurs</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="EvaluationPhysique">Evaluation Physique</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'club_' %}active{% endif %}">
          <a href="{{ path('club_index') }}" class="menu-link">
            <div data-i18n="Club">Club</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') starts with 'sport_' %}active{% endif %}">
          <a href="{{ path('sport_index') }}" class="menu-link">
            <div data-i18n="Sport">Sport</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="PerformanceJoueur">Performance Joueur</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="HistoriqueClub">Historique Club</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Match Management -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Match Management</span>
    </li>
    <!-- Matchs (Scrollable with 2 items) -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_matchs_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-football"></i>
        <div data-i18n="Matchs">Matchs</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_matchs_upcoming' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Upcoming">Upcoming</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_matchs_past' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Past">Past</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Logistics -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Logistics</span>
    </li>
    <!-- Logistique (Scrollable with 2 items) -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_logistique_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-truck"></i>
        <div data-i18n="Logistique">Logistique</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_logistique_transport' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Transport">Transport</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_logistique_equipment' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Equipment">Equipment</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Sponsorship -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Sponsorship</span>
    </li>
    <!-- Sponsoring (Scrollable with 2 items) -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_sponsoring_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-money"></i>
        <div data-i18n="Sponsoring">Sponsoring</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_sponsoring_partners' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Partners">Partners</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_sponsoring_contracts' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Contracts">Contracts</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Spacer: Sports Space -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Sports Space</span>
    </li>
    <!-- Espace Sportif (Scrollable with 2 items) -->
    <li class="menu-item {% if app.request.attributes.get('_route') starts with 'app_espace_' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-stadium"></i>
        <div data-i18n="EspaceSportif">Espace Sportif</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_espace_facilities' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Facilities">Facilities</div>
          </a>
        </li>
        <li class="menu-item {% if app.request.attributes.get('_route') == 'app_espace_events' %}active{% endif %}">
          <a href="{{ path('joueur_main') }}" class="menu-link">
            <div data-i18n="Events">Events</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>