{% extends 'base.html.twig' %}

{% block title %}{{ club.nomClub }}{% endblock %}

{% block body %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">{{ club.nomClub }}</h4>

        <div class="card">
            <div class="card-body">
                <p><strong>Name:</strong> {{ club.nomClub }}</p>
                <p><strong>Photo:</strong></p>
                <img src="{{ club.photoUrl }}" alt="{{ club.nomClub }}" style="max-width: 300px;">
            </div>
        </div>

        <a href="{{ path('club_index') }}" class="btn btn-outline-secondary mt-3">Back to List</a>
        <a href="{{ path('club_edit', {'idClub': club.idClub}) }}" class="btn btn-primary mt-3">Modifier</a>
    </div>
{% endblock %}