{% extends 'base.html.twig' %}
{% block searchbar %}
    {% include 'searchbar.html.twig' %}
{% endblock %}

{% block title %}Liste des Sports{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            {% include 'sport/sport_widgets.html.twig' %}
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    Liste des Sports
                    <div>
                        <a href="{{ path('sport_statistics') }}" class="btn btn-info me-2">
                            <i class="bx bx-stats"></i> Statistiques
                        </a>
                        <a href="{{ path('sport_new') }}" class="btn btn-primary">
                            <i class="bx bx-plus"></i> Nouvelle Sport
                        </a>
                    </div>
                </h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du Sport</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for sport in sports %}
                                <tr class="table-default">
                                    <td>
                                        <i class="fab fa-sketch fa-lg text-warning me-3"></i>
                                        <strong>{{ sport.nomSport }}</strong>
                                    </td>
                                    <td>{{ sport.description|default('N/A')}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{{ path('sport_show', {'idSport': sport.idSport}) }}">
                                                    <i class="bx bx-show me-1"></i> Voir
                                                </a>
                                                <a class="dropdown-item" href="{{ path('sport_edit', {'idSport': sport.idSport}) }}">
                                                    <i class="bx bx-edit-alt me-1"></i> Modifier
                                                </a>
                                                <form method="post" action="{{ path('sport_delete', {'idSport': sport.idSport}) }}" style="display:inline;" onsubmit="return confirm('Confirmer la suppression?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sport.idSport) }}">
                                                    <button class="dropdown-item" type="submit">
                                                        <i class="bx bx-trash me-1"></i> Supprimer
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">Aucun sport trouvé</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}